{% extends 'base.html' %}

{% block content %}

<!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">

<style>
 .custom-margin {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .bottom-squares {
    margin-top: 150px;
  }
  
  .section-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #808080;
  }
  
  .add-money-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
    margin-top: 100px;
  }
  
  .add-expense-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 100px;
  }

  .swal2-select {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>');
    background-position: right 10px center;
    background-size: 10px;
  }

  .btn-focus:focus {
    outline: none;
  }

  .wallet-card {
    position: relative;
  }

  .type-card-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #d4d4d4;
  }

  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: #fff;
  }

  .type-goal-legend {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #d4d4d4;
  }

  .card-title {
    text-align: left;
  }

  .card-title-top_amounts {
    text-align: center;
  }

</style>

<div class="container custom-margin">

  <div class="row mt-5">
    <!-- Square 1 -->
    <div class="col-md-6 col-lg-6 mb-3">
      <div class="card border-0 wallet-card" style="background-color: #eeeeee; height: 150px;">
        <div class="card-body">
          <h4 class="card-title-top_amounts" id="balanceLabel">Current Balance</h4>
          <h2 id="balance" style="font-size: 36px; font-weight: bold; text-align: center;" aria-labelledby="balanceLabel">$0.00</h2>
        </div>
      </div>
    </div>
    <!-- Square 2 -->
    <div class="col-md-6 col-lg-6 mb-3">
      <div class="card border-0 wallet-card" style="background-color: #eeeeee; height: 150px;">
        <div class="card-body">
          <h4 class="card-title-top_amounts" id="expensesLabel">Expenses this month</h4>
          <h2 id="expenses" style="font-size: 36px; font-weight: bold; text-align: center;" aria-labelledby="expensesLabel">$0.00</h2>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row bottom-squares">
    <div class="col-12">
      <h2 class="section-title">Your performance this month</h2>
    </div>
    <!-- Square 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card border-0 wallet-card" style="background-color: #646464; height: 200px;">
        <div class="percentage" id="needsPercentage">0.00%</div>
        <div class="card-body">
          <h4 class="type-card-title">Needs</h4>
        </div>
        <h4 class="type-goal-legend">Goal: Less or equal to 50%</h4>
      </div>
    </div>
    <!-- Square 4 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card border-0 wallet-card" style="background-color: #646464; height: 200px;">
        <div class="percentage" id="wantsPercentage">0.00%</div>
        <div class="card-body">
          <h4 class="type-card-title">Wants</h4>
        </div>
        <h4 class="type-goal-legend">Goal: Less or equal to 30%</h4>
      </div>
    </div>
    <!-- Square 5 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card border-0 wallet-card" style="background-color: #646464; height: 200px;">
        <div class="percentage" id="savingsDebtPercentage">0.00%</div>
        <div class="card-body">
          <h4 class="type-card-title">Savings and Debt Repayment</h4>
        </div>
        <h4 class="type-goal-legend">Goal: Greater or equal to 20%</h4>
      </div>
    </div>
  </div>
  
    <div class="col-12 text-center">
      <button class="add-money-btn btn-focus" onclick="showAddMoneyDialog()" aria-label="Add money">Add money</button>
      <button class="add-expense-btn btn-focus" onclick="fetchAndShowAddExpenseDialog()" aria-label="Add expense">Add expense</button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>  
  <script>

// Function to fetch the current balance for the logged-in user from the server
function updateBalance() {
  fetch('/get_balance', {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
    },
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
        const formattedBalance = formatAmountWithCommas(data.balance.toFixed(2));
        document.getElementById('balance').innerText = '$' + formattedBalance;
      
      } else {
        console.error('Error fetching balance:', data.message);
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
}

// Call the updateBalance function to initially fetch and display the balance
updateBalance();

// Function to fetch and display the sum of expenses for the current month
function updateExpenses() {
  fetch('/get_expenses', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
        const formattedTotalExpenses = formatAmountWithCommas(data.expenses.toFixed(2));
        document.getElementById('expenses').innerText = '$' + formattedTotalExpenses;
        
      } else {
        console.error('Error fetching expenses:', data.message);
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
}

// Call the updateExpenses function to initially fetch and display the expenses
updateExpenses();

// Function to fetch the expense types from the server and show the "Add Expense" dialog   
function fetchAndShowAddExpenseDialog() {
  fetch('/get_expense_types', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
         // Check if the 'names' property exists and is an array
         const expenseTypes = data.names;
        if (expenseTypes && Array.isArray(expenseTypes)) {
          // Fetch the expense types data and call the 'showAddExpenseDialog' function with this data
          showAddExpenseDialog(expenseTypes);
        } else {
          console.error('Error fetching expense types: Invalid data format.');
        }
      } else {
        console.error('Error fetching expense types:', data.message);
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
}

// Function to display the pop-up dialog using SweetAlert
function showAddMoneyDialog() {
  Swal.fire({
    title: 'Add money',
    showCancelButton: true,
    confirmButtonText: 'Add',
    cancelButtonText: 'Cancel',
    html:
      '<input id="add-money-amount-input" type="text" placeholder="Amount" required class="swal2-input" maxlength="15" style="margin-bottom:5px;">',
    didOpen: () => {
      const amountInput = document.getElementById('add-money-amount-input');
      amountInput.addEventListener('input', formatAddMoneyAmountInput);
      amountInput.addEventListener('keydown', restrictAmountLength);
    },
    willClose: () => {
      const amountInput = document.getElementById('add-money-amount-input');
      amountInput.removeEventListener('input', formatAddMoneyAmountInput);
      amountInput.removeEventListener('keydown', restrictAmountLength);
    },
  }).then((result) => {
    if (result.isConfirmed) {
      const enteredAmount = document.getElementById('add-money-amount-input').value;
      const formattedAmount = formatAmountWithCommas(enteredAmount);
      handleAddMoneyButtonClick(formattedAmount);
    }
  });
}

function formatAddMoneyAmountInput() {
  const amountInput = document.getElementById('add-money-amount-input');
  const enteredAmount = amountInput.value;
  
    if (enteredAmount.trim() === '') {
      return;
    }
  
    const numericValue = enteredAmount.replace(/[^\d]/g, '');
    const formattedAmount = (numericValue / 100).toFixed(2);
    amountInput.value = formatAmountWithCommas(formattedAmount);
}

// Function to show the "Add Expense" dialog with the fetched expense types
function showAddExpenseDialog(expenseTypes) {
  Swal.fire({
    title: 'Add Expense',
    showCancelButton: true,
    confirmButtonText: 'Add',
    cancelButtonText: 'Cancel',
    html:
        '<input id="expense-amount-input" type="text" placeholder="Amount" required class="swal2-input" maxlength="15">'+
        '<input id="expense-name-input" type="text" placeholder="Name" required class="swal2-input" maxlength="30">'+
        '<select id="expense-type-input" required class="swal2-select">'+
          '<option value="">Select type</option>'+
          expenseTypes.map((type) => `<option value="${type}">${type}</option>`).join('') + 
        '</select>',
    preConfirm: () => {
      const amountInput = document.getElementById('expense-amount-input').value;
      const nameInput = document.getElementById('expense-name-input').value;
      const typeInput = document.getElementById('expense-type-input').value;

      return { amountInput, nameInput, typeInput };
    },
    didOpen: () => {
      const amountInput = document.getElementById('expense-amount-input');
      amountInput.addEventListener('input', formatAddExpenseAmountInput);
      amountInput.addEventListener('keydown', restrictAmountLength);
    },
    willClose: () => {
      const amountInput = document.getElementById('expense-amount-input');
      amountInput.removeEventListener('input', formatAddExpenseAmountInput);
      amountInput.removeEventListener('keydown', restrictAmountLength);
    },
  }).then((result) => {
    if (!result.isDismissed) {
      const { amountInput, nameInput, typeInput } = result.value;
      const formattedAmount = formatAmountWithCommas(amountInput);
      handleAddExpenseButtonClick(formattedAmount, nameInput, typeInput);
    }
  });
}

function formatAddExpenseAmountInput() {
  const amountInput = document.getElementById('expense-amount-input');
  const enteredAmount = amountInput.value;
  
    if (enteredAmount.trim() === '') {
      return;
    }
  
    const numericValue = enteredAmount.replace(/[^\d]/g, '');
    const formattedAmount = (numericValue / 100).toFixed(2);
    amountInput.value = formatAmountWithCommas(formattedAmount);
}

// Function to add commas for thousands separator
function formatAmountWithCommas(amount) {
  const parts = amount.split('.');
  const integerPart = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
  return parts.length === 1 ? integerPart : integerPart + '.' + parts[1];
}

// Function to restrict the amount input length to 9 characters
function restrictAmountLength(event) {
  const amountInput = event.target;
      const numericValue = amountInput.value.replace(/[^\d]/g, '');

      if (numericValue.length >= 9 && event.keyCode !== 8 /* Backspace key */) {
        event.preventDefault();
      }
}

// Function to handle the "Add" button click and save the amount to the server
function handleAddMoneyButtonClick(amount) {
  const amountInput = amount;

      fetch('/add_money', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ fund_amount: amountInput }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            Swal.fire('Success', 'Amount added successfully.', 'success');
            updateBalance();
          } else {
            Swal.fire('Error', data.message, 'error');
          }
        })
        .catch((error) => {
          Swal.fire('Error', 'An error occurred while adding the amount.', 'error');
          console.error('Error:', error);
        });
      
}

function handleAddExpenseButtonClick(amount, name, type) {
  fetch('/add_expense', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      amount: amount,
      name: name,
      type: type,
    }),
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
        Swal.fire('Success', 'Expense added successfully.', 'success');
        updateExpenses();
        updateBalance();
      } else {
        Swal.fire('Error', data.message, 'error');
      }
    })
    .catch((error) => {
      Swal.fire('Error', 'An error occurred while adding the expense.', 'error');
      console.error('Error:', error);
    });
}

  // Function to fetch and update the percentages
  async function updatePercentages() {
    try {
      const response = await fetch('/get_percentages');
      const data = await response.json();

      // Update the percentages in each square
      document.getElementById('needsPercentage').innerText = `${data.needs}%`;
      document.getElementById('wantsPercentage').innerText = `${data.wants}%`;
      document.getElementById('savingsDebtPercentage').innerText = `${data.savingsDebt}%`;
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  }

  // Call the updatePercentages function initially to populate the squares with data
  updatePercentages();

  // Set an interval to update the percentages every X seconds (e.g., 5 seconds)
  setInterval(updatePercentages, 5000);

</script>
  
{% endblock %}