{% extends 'base.html' %}

{% block content %}

<style>
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
    display: none;
  }

  .close-button {
    margin-top: 10px;
  }

  .error-message {
    color: red;
  }

  .swal2-input {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

</style>

<div class="container">

  <!-- Wallets -->
  <div class="wallets-container">
    <!-- Add Wallet Button -->
    <button onclick="showAddWalletPopup()" class="add-wallet-button wallet-name btn-focus">Add new wallet</button>

    {% for wallet in wallets %}
    <a href="{{ url_for('wallet_details', wallet_name=wallet[1]) }}" class="wallet-card">
      <div class="wallet-name">{{ wallet[1] }}</div>
    </a>
    {% endfor %}
  </div>

  <!-- Add Wallet Popup -->
  <div id="addWalletPopup" class="popup">
    <form id="addWalletForm" action="/wallets" method="post">
      <div>
        <input type="text" id="walletName" name="walletName" required maxlength="37" placeholder="Enter wallet name">
      </div>
      <small id="walletNameError" class="error-message"></small><br><br>
      <input type="submit" value="Add Wallet">
      <button type="button" onclick="cancelAddWallet()">Cancel</button>
    </form> 
  </div>

  <!-- Error Popup -->
  <div id="errorPopup" class="popup">
    <div id="addWalletErrorMessage" class="text-danger"></div>
    <button onclick="closeErrorPopup()">Close</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
  <script>

    function showAddWalletPopup() {
    // Reset the form and character counter
    var walletNameInput = document.getElementById("walletName");
    walletNameInput.value = '';

    // Use SweetAlert to show the "Add Wallet" popup
    Swal.fire({
      title: 'New wallet',
      html: '<input type="text" id="swalWalletName" class="swal2-input" placeholder="Enter wallet name" maxlength="30">',
      showCancelButton: true,
      confirmButtonText: 'Add',
      preConfirm: function() {
        var walletName = document.getElementById('swalWalletName').value;
        if (!walletName) {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Please enter a wallet name.'
          });
          return false;
        }

        var formData = new FormData();
        formData.append('wallet_name', walletName);
        fetch("/wallets", {
          method: "POST",
          body: formData
        })
          .then(function(response) {
            if (!response.ok) {
              return response.json().then(function(data) {
                throw new Error(data.message);
              });
            }
          })
          .then(function() {
            // Wallet added successfully, show success message
            Swal.fire({
              icon: 'success',
              title: 'Success',
              text: 'Wallet added successfully.'
            }).then(function() {
              // Refresh the page to see the updated list
              window.location.reload();
            });
          })
          .catch(function(error) {
            // Handle the error response and show it in SweetAlert
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: error.message
            });
          });
      }
    });
  }

    function cancelAddWallet() {
      var addWalletPopup = document.getElementById("addWalletPopup");
      addWalletPopup.style.display = "none";
    }
  </script>
</div>
{% endblock %}
