{% extends 'base.html' %}

{% block content %}

<style>
  .close-wallet-btn,
  .remove-user-btn,
  .add-user-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  .add-user-btn {
    background-color: #2b82c9;
    padding: 5px 10px;
  }

  .btn-focus:focus {
    outline: none;
  }

  .table-striped tr:nth-child(odd) {
    background-color: #f8f9fa;
  }

  .expenses-table-container {
    height: 650px;
    overflow-y: scroll;
  }

  .user-list-scroll {
    height: 350px;
    overflow-y: scroll;
  }

  .table-fixed-header thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

</style>

<div class="container">
  <!-- Wallet Details -->
  <h2 class="mt-5">{{ wallet.wallet_name }}</h2>
  {% if is_owner %}
  <button id="walletStatusButton" class="close-wallet-btn btn-focus" onclick="toggleWallet('{{ wallet.wallet_id }}', '{{ wallet.wallet_status }}')">
    {% if wallet.wallet_status == 'Open' %}
      Close this wallet
    {% else %}
      Open this wallet
    {% endif %}
  </button>  
  {% endif %}
  <div class="row mt-4">
    <div class="col-9">
      <div class="table-responsive expenses-table-container">
        <table id="expensesTable" class="table mt-2 table-striped table-fixed-header">
          <thead>
            <tr>
              <th>#</th>
              <th style="cursor: pointer;">Name <span id="nameSortIcon"></span></th>
              <th style="cursor: pointer;">Amount <span id="amountSortIcon"></span></th>
              <th style="cursor: pointer;">Type <span id="typeSortIcon"></span></th>
              <th style="cursor: pointer;">Date <span id="dateSortIcon"></span></th>
              <th style="cursor: pointer;">User <span id="userSortIcon"></span></th>
            </tr>
          </thead>          
          <tbody id="expensesTableBody">
            {% for index, expense in expenses_list %}
              <tr data-expense-id="{{ expense.expense_id }}" onclick="handleExpenseClick(event, '{{ expense.expense_id }}')">
                <td>{{ index + 1 }}</td>
                <td>{{ expense.expense_name }}</td>
                <td>{{ expense.expense_amount }}</td>
                <td>{{ expense.type_name }}</td>
                <td>{{ expense.expense_date }}</td>
                <td>{{ expense.user_email }}</td>
              </tr>   
              {% set row_number = row_number + 1 %}         
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% if is_owner and wallet_name != "Main" %}
      <div class="col-3">
        <div class="card-body d-flex flex-column justify-content-between align-items-center h-100">
          <h5 class="card-title mb-0">Users in this wallet</h5>
          <button class="add-user-btn btn-focus mt-2" onclick="showAddUserDialog()">Add user</button>
          <div class="list-group flex-grow-1 mt-2 user-list-scroll">
            {% if shared_users %}
              {% for shared_user in shared_users %}
                <div class="user-item d-flex justify-content-between align-items-center">
                  <div>{{ shared_user }}</div>
                  {% if is_owner %}
                    <button class="remove-user-btn btn-focus" onclick="removeUser('{{ shared_user }}')">Remove</button>
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <p class="user-item d-flex justify-content-between align-items-center">This wallet is not shared</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>              
<div class="modal fade" id="addUserDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="email" id="userEmail" class="form-control" placeholder="Enter email">
      </div>
      <div class="modal-footer">
        <button type="button" onclick="addUser()">Add</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

<script>
 
function toggleWallet(walletId, currentStatus) {
  const newStatus = currentStatus === 'Open' ? 'Closed' : 'Open';
  const action = newStatus.toLowerCase();
  const route = action === 'open' ? `/open_wallet/${walletId}` : `/close_wallet/${walletId}`;

  Swal.fire({
    title: currentStatus === 'Open' ? 'Close wallet' : 'Open wallet',
    text: `Are you sure you want to ${currentStatus === 'Open' ? 'close' : 'open'} this wallet?`,
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: currentStatus === 'Open' ? 'Close' : 'Open',
    cancelButtonText: 'Cancel'
  }).then((result) => {
    if (result.isConfirmed) {
      fetch(route, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          wallet_id: walletId
        })
      })
        .then(response => response.json())
        .then(data => {
          if (data.message === 'Wallet closed successfully' || data.message === 'Wallet opened successfully') {
            const walletStatusButton = document.getElementById('walletStatusButton');
            walletStatusButton.textContent = newStatus === 'Open' ? 'Open this wallet' : 'Close this wallet';
            currentStatus = newStatus;
            Swal.fire({
              icon: 'success',
              title: 'success',
              text: data.message
            }).then(() => {
              window.location.reload();
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'error',
              text: data.message
            }).then(() => {
              window.location.reload();
            });
          }
        })
        .catch(error => {
          console.log('Error:', error);
        });
    }
  });
}

function removeUser(userEmail) {
    Swal.fire({
      title: 'Remove user',
      text: `Are you sure you want to remove ${userEmail}?`,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Remove',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      if (result.isConfirmed) {
        fetch('/remove_user', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        wallet_id: '{{ wallet.wallet_id }}',
        user_email: userEmail
      })
    })
      .then(response => response.json())
      .then(data => {
        if (data.message === 'User removed successfully') {
          Swal.fire({
              icon: 'success',
              title: 'Success',
              text: data.message
            }).then(function() {
              window.location.reload();
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: data.message
            });
          }
        })
      .catch(error => {
        console.log('Error:', error);
      });

      }
    });

  }

function showAddUserDialog() {
      Swal.fire({
        title: 'Add User',
        html: '<input type="email" id="swalUserEmail" class="form-control" placeholder="Enter email">',
        showCancelButton: true,
        confirmButtonText: 'Add',
        cancelButtonText: 'Cancel',
        preConfirm: function() {
          const userEmail = document.getElementById('swalUserEmail').value;
          const wallet_id = '{{ wallet_id }}';

        if (userEmail.trim() === '') {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Email is required'
          });
          return false;
        }
        return fetch('/add_user', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            user_email: userEmail,
            wallet_id: wallet_id
          })
        })
        .then(response => response.json())
        .then(data => {
          if (data.message === 'User added successfully') {
            Swal.fire({
              icon: 'success',
              title: 'Success',
              text: data.message
            }).then(function() {
              window.location.reload();
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: data.message
            });
          }
        })
        .catch(error => {
          console.log('Error:', error);
        });
      }
    });
  }

function fetchExpenses(walletId) {
  fetch(`/get_expenses_list/${walletId}`, {
    method: 'GET',
    credentials: 'include'
  })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        const expensesTableBody = document.getElementById('expensesTableBody');
        expensesTableBody.innerHTML = '';

        data.expenses_list.forEach((expense, index) => {
          const row = expensesTableBody.insertRow();
          row.innerHTML = `
            <td>${index + 1}</td>
            <td>${expense.name}</td> <!-- User's name -->
            <td>${format_amount(expense.amount)}</td> <!-- Amount -->
            <td>${expense.type}</td> <!-- Type -->
            <td>${expense.date}</td> <!-- Date -->
            <td>${expense.user}</td> <!-- User's email -->
          `;
        });
      } else {
        console.error(data.message);
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
}

document.addEventListener('DOMContentLoaded', function () {
  const walletId = '{{ wallet.wallet_id }}';
  
  fetchExpenses(walletId);

});

function format_amount(amount) {
        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });
        return formatter.format(amount);
}

</script>
</div>
{% endblock %}